<html>
<head>
<title>
  MOVIES	</title>
  <body style="background-color:blanchedalmond">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

 </head>
<center>
   <h1 style="margin-top:100px">SEARCH YOUR MOVIES</h1> <p style="margin-top: 200px" ></p>
    <form action='/movies/result' method="get">
<input type="text" name="search" size="40" placeholder="enter the movie you want to search">
<input type="submit">
    </form>
  </center></p>
</body>
</html>

